[include]
	path = ~/.gituser
[color]
	ui = auto
[core]
	pager = less -r
	editor = vim
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(white)%ai%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(bold white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ci)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg = !"git lg3"
	sh1 = show -s --pretty='tformat:%C(bold blue)%h%C(reset) (%s, %ad)' --date=short
	sh2 = show -s --pretty='tformat:%C(bold blue)%h%C(reset) - %C(bold green)(%ci)%C(reset) %s - %an ' --date=short
	sh = !"git sh2"
	st = status
	co = checkout
	dt = difftool
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
[mergetool]
	keepBackup = false
[diff]
	tool = vimdiff
	prompt = false
